
.scroller{
    overflow:hidden;
}
.scroller:hover{
    
    overflow-x: hidden;
     overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    opacity: 0.4;
    border-radius: 7px;
    z-index: 99;
    
    
}

::-webkit-scrollbar-track-piece {
    background:  #fff;
}
::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 153);
}​
